@page "/Home"
@using Pawnshop.Application.Base
@using Pawnshop.Application.UsersApplication.Commands.Logout
@using Pawnshop.Web.Exceptions
@using Pawnshop.Web.Services.ApiService

@inject ApiService apiService

<h3>Home</h3>

<MudButton ButtonType="ButtonType.Button" OnClick="@ClickHandle">CLICK</MudButton>

@code {
    private async void ClickHandle()
    {
        try
        {
            await apiService.PostAsync<TestClassPublic, TestClassRTesponse>("/Users/test", new TestClassPublic() { TestToken = "asd" });
        }
        catch(ApiException ex)
        {
            
        }
    }
}
